<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico"/>
    <script type="text/javascript" src="/static/jquery/1.9.1/jquery.js"></script>
    <script type="text/javascript" src="/static/js/check.js"></script>
    <script type="text/javascript" src="/static/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="/static/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/laypage/1.2/laypage.js"></script>
    <!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="/static/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script><![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>添加管理员 - 管理员管理 </title>
    <meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<!-- 主体内容开始  -->
<body>
<div class="panel-header">修改项目</div>
<div class="panel-body">
    <form action="/project_management/edit_project/" method="post" class="form form-horizontal responsive" id="demoform" onsubmit="window.close();">
        {% csrf_token %}
        <div class="row cl">
            <label class="form-label col-xs-3">项目编号：</label>
            <div class="formControls col-xs-8">
                <input type="text" class="input-text" name="p_num" id="p_num" autocomplete="off" placeholder="{{ p_num }}" required>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3">项目名称：</label>
            <div class="formControls col-xs-8">
                <input type="text" class="input-text" name="p_name" id="p_name" placeholder="{{ p_name }}" required>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-3">项目阶段开始时间：</label>
            <div class="formControls col-xs-8">
                <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin"
                       class="input-text Wdate" name="start_time" style="width:503.33px;" required placeholder="{{ start_time }}">
                {#                <input type="text" class="input-text" autocomplete="off" name="start_time" id="start_time" required#}
                {#                       onblur="check_start_time()">#}
                <span id="start_time_span" style="color:red;"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3">项目阶段结束时间：</label>
            <div class="formControls col-xs-8">
                <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})"
                       id="datemax" class="input-text Wdate" name="stop_time" style="width:503.33px;" required placeholder="{{ stop_time }}">
                {#                <input type="text" class="input-text" autocomplete="off" name="stop_time" id="stop_time" required#}
                {#                       onblur="check_stop_time()">#}
                <span id="stop_time_span" style="color:red;"></span>
            </div>
        </div>

        <div class="row cl">

            <div class="col-xs-8 col-xs-offset-3">
                <input class="btn btn-primary" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"
                       onclick="close_win()">
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    function check_start_time() {
        var start_time = document.getElementById('datemin').value;
        $.get(
            '/project_management/check_start_time',
            {'c_time': start_time},
            function (data) {
                var span = document.getElementById('datemin');
                span.innerText = data.msg;
            },
            'json'
        )

    }

    function check_stop_time() {
        var stop_time = document.getElementById('datemax').value;
        $.get(
            '/project_management/check_stop_time',
            {'c_time': stop_time},
            function (data) {
                var span = document.getElementById('datemax');
                span.innerText = data.msg;
            },
            'json'
        )
    }

    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form-admin-add").validate({
            rules: {
                adminName: {
                    required: true,
                    minlength: 4,
                    maxlength: 16
                },
                password: {
                    required: true,
                },
                password2: {
                    required: true,
                    equalTo: "#password"
                },
                sex: {
                    required: true,
                },
                phone: {
                    required: true,
                    isPhone: true,
                },
                email: {
                    required: true,
                    email: true,
                },
                adminRole: {
                    required: true,
                },
            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                $(form).ajaxSubmit();
                var index = parent.layer.getFrameIndex(window.name);
                parent.$('.btn-refresh').click();
                parent.layer.close(index);
            }
        });
    });
</script>
<!-- 主体内容结束  -->

<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>