<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>后台登录</title>
    <meta name="author" content="DeathGhost"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <style>
        body {
            height: 100%;
            background: #16a085;
            overflow: hidden;
        }

        canvas {
            z-index: -1;
            position: absolute;
        }
    </style>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/verificationNumbers.js"></script>
    <script src="/static/js/Particleground.js"></script>
    <script>
        $(document).ready(function () {
            //粒子背景特效
            $('body').particleground({
                dotColor: '#5cbdaa',
                lineColor: '#5ccaaa'
            });
            //验证码
            createCode();

        });
    </script>
</head>
<body>
<dl class="admin_login">
    <dt>
        <strong>项目管理系统</strong>
        <em>Project Management System</em>
    </dt>
    <form action="/user/login/" method="post">
        {% csrf_token %}
        <dd class="user_icon">
            <input name="username" type="text" placeholder="账号" class="login_txtbx"/>
        </dd>
        <dd class="pwd_icon">
            <input name="password" type="password" placeholder="密码" class="login_txtbx"/>
        </dd>
        <dd class="val_icon">
            <div class="checkcode">
                <input name="auth_code" type="text" id="J_codetext" placeholder="验证码" maxlength="4" class="login_txtbx">
                <canvas class="J_codeimg" id="myCanvas" onclick="createCode()">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>
            </div>
            <input type="button" value="验证码核验" class="ver_btn" onClick="validate();">
        </dd>
        <dd>
            <!-- return validate()  返回一个函数的返回结果，如果是false则不能提交数据 -->
            <input type="submit" value="立即登录" class="submit_btn" onclick="return validate() ">

        </dd>
    </form>
    <dd>
        <p>© 2018 pactera 版权所有</p>
        <p>京B2-20080224-1</p>
    </dd>
</dl>

</body>
</html>
